/* CSS reset */
* {
    margin: 0;
    padding: 0;
}

/* respect user font sizes perferences */
html {
    font-size: 100%;
}

/* General CSS */
body { background-color: #cddfff;
    background-image: url('../images/background.jpg');
    background-color: #cddfff;
    background-repeat: no-repeat;
    background-cover: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

header {
    padding: 6rem;
    margin-bottom: 3rem;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    text-align: center;
}

header h1 {
    font-size: 3rem;
}