:root {
    --bg-color-1: #000000;
    --font-color: #ffffff;
    --accent-color-1: #a95c7e;
    --accent-color-2: #5e87b5;
    --dark-color: #000000;
}

/* CSS reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

/* General CSS */

body {
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1;
    font-family: cambay, sans-serif;
    text-align: justify;
}

header {
    padding: 5rem 2rem;
    margin-bottom: 7rem;
}

header h1 {
    text-shadow: 
        0 1px 0px #a95c7e,
        1px 0 0px #a95c7e,
        1px 2px 1px #a95c7e,
        2px 1px 1px #a95c7e,
        2px 3px 2px #a95c7e,
        3px 2px 2px #a95c7e,
        3px 4px 2px #a95c7e,
        4px 3px 3px #a95c7e;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 1rem;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #a95c7e;
}

main {
    margin: 0;
}

@media (max-width: 1030px) {
    main {
        margin: 2rem;
    }
}

@media (max-width: 750px) {
    main {
        margin: 1rem;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: #EEAECA;
    font-size: 2rem;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-menu.active {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 1rem;
}

@media (max-width: 750px) {
    .navbar {
        flex-direction: column;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: block;
        align-self: flex-end;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        background-color: #000000;
        padding: 1rem;
    }

    header {
        padding: 5rem 2rem;
    }
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 60rem;
    margin: 0 auto 7rem auto;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    margin: 2rem 0;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: 1rem;
}

.portfolio-item p {
    font-size: 1rem;
}

.portfolio-item h3 {
    font-size: 1rem;
}

.portfolio-item img {
    border-radius: 1rem;
}

footer {
    padding: 1rem 2rem;
}

footer img {
    display: inline-block;
    max-width: 2rem;
    margin: 0 0.5rem;
}

@media (max-width: 750px) {
    footer p {
        font-size: 1rem;
    }

    footer img {
        max-width: 2rem;
        margin: 0 1rem;
    }
}

@media (max-width: 450px) {
    footer p {
        font-size: 1rem;
    }

    footer img {
        max-width: 2rem;
        margin: 0 1rem;
    }
}

/* Flex Styling */

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-container-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: stretch;
}

.flex-item-grid {
    flex: 1 0 20rem;
}
