/* CSS reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

/* color variables */
:root {
    --bg: #ffffff;
    --font: #000000;
}

body.dark {
    --bg: #000000;
    --font: #ffffff;
}
/* general css */

body {
    color: var(--font);
    background-color: var(--bg);
}

header {
    padding: 1rem;
}

main {
    max-width: 60px;
    margin: 0 auto;
}